name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Run unit tests
        run: |
          export PYTHONPATH="$GITHUB_WORKSPACE:$PYTHONPATH"
          python -m unittest discover -s tests -v
